<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%-30.30t] %-5level: %logger{1.} - %msg%n%throwable}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}"/>
        </Console>
        <RollingFile
                name="File"
                fileName="logs/distribdb.log"
                filePattern="logs/distribdb.%d{yyyy_MM_dd}.%i.gz">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%-30.30t] %-5level %logger{1.} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="200"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>